extends layout

block content

  h1 Category: #{category.category_name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Toppings

    ul
      each topping in category_toppings
        li
        a(href=topping.absolute_url)#[strong #{topping.topping_name}]
        p #{topping.topping_description}

      else
        p This category has no toppings
