doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.sidebar
      block sidebar
        ul.sidebarUl
          li
            a(href='/catalog') Home
          li
            a(href='/catalog/toppings') All Toppings
          li
            a(href='/catalog/categories') All Categories
          li
            a(href='/catalog/category/create') Create New Category
          li
            a(href='/catalog/topping/create') Create New Topping
          li
            a(href='/users/cart') Your Cart
          li
            a(href='/users/userinventory') Your Own Inventory
    div.content
      block content
