:root {
  --one :#EFC7C2;
  --two:#FFE5D4;
  --three:#BFD3C1;
  --four:#68A691;
  --five: #694F5D;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--one);
  color: var(--five);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.sidebarUl {
  grid-row: 1 / 2;
  background-color: var(--one);
}

img.topping_img {
  border: 2px solid black;
}

p.addToCart {
  padding: 5px;
  width: fit-content;
  border: 2px solid var(--four);
  transition: all 0.25s ease-in;
}

p.addToCart:hover {
  border: 2px solid var(--two);
}

li {
  list-style-type: none;
  margin: 1rem;
}

li.cart_item {
  background-color: var(--three);
  padding: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

li.inventory_item {
  background-color: var(--two);
  padding: 10px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

button.delete_btn {
  background-color: var(--two);
  transition: all 0.1s ease-in;
}

button.delete_btn:hover {
  background-color: var(--five);
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--five)
}
a:hover {
  color: var(--four);
}
a:focus {
  color: var(-three);
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--one); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--four); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--three); 
}