:root {
  --one :#EFC7C2;
  --two:#FFE5D4;
  --three:#BFD3C1;
  --four:#68A691;
  --five: #694F5D;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--one);
  color: var(--five);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.sidebarUl {
  grid-row: 1 / 2;
  background-color: var(--one);
}

li {
  list-style-type: none;
  margin: 1rem;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--five)
}
a:hover {
  color: var(--four);
}
a:focus {
  color: var(-three);
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--one); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--four); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--three); 
}